/* 建議加上 reset.css 清除瀏覽器預設樣式 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 建議加上 reset.css 清除瀏覽器預設樣式 */

body {
    font-family: PingFang TC,sans-serif;
    /* 整個網頁的統一字體可以設定在 body 上，此外字體無論是使用哪一種，
    建議都要補上 sans-serif（無襯線字體），確保所有裝置都能正確瀏覽。 */
}

h1{
    text-align: left;
    font-family: Andale Mono;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 90px;
    color: #000000;
    font-size: 80px;
    padding-bottom: 24px;
    border-bottom: 2px solid black;
}
h2 {
    font-size: 32px;
    font-weight: 500;
    height: 45px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 0px;
    line-height: 45px;
    
}
h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    margin: 0px;
    color: #A00404;
}

p { 
    line-height: 36px;
    font-size: 24px;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

li {
    line-height: 36px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}

hr {
    margin-block-start: 0px;
    margin-block-end: 46px;
}

.none {
    margin-bottom: 0px;
}


.title {
    /* 區塊建議不要寫死高度，若需要留白，可以使用 padding。例如：.title, .skill  */
    border-bottom: 2px solid black;
    /* height: 53px; */
    margin-bottom: 16px;
}


.work_ex .title {
    margin-bottom: 22px;
}
.title_white .title_ch, .title_white .title_en{
    color: white;
}

.selfish {
    width: 324px;
    height: 324px;
    display: block;
    margin-bottom: 48px;
    margin-top: 48px;
}

.intro {
    display: flex;
    margin-bottom: 48px;
}
.dot {
    width: 14px;
    height: 14px;
    background-color: #96A9C4;
    border-radius:999em;
    border: 1px solid #96A9C4;
    display: inline-block;
    margin-top: 8px;
    margin-right: 16px;
}
.intro_p p{
    margin-top: 0px;
}

.container {
    margin: 0 auto;
    width: 62.5%;
}

.edu {
    margin-bottom: 56px;
    position: relative;
}

.edu li {
    /* margin-left: 48px; */
}
.education-item{
    margin-bottom: 32px;
  }
  .education-item:before{
    content: "";
      /* 偽元素需設定成“絕對位置” */
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #96A9C4;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 48px;

  }
  .timeLine:after{
    content: "";
      /* 偽元素需設定成“絕對位置” */
    position: absolute;
    border-left: 1px solid #96A9C4;
    /* 一定要加上 top, bottom 的值，線條才會有高度 */
      /* 設定 top 0px, bottom 0px 就會剛好撐滿整個 ul 的高度 */
    top: 80px;
    bottom: 20px;
      /* 為了要讓線條對準圓心，因此需往左 16（圓圈和文字之間的距離）+ 8（圓圈的半徑）= 24px */
    left: 8px;
  }

.skill {
    /* 區塊建議不要寫死高度，若需要留白，可以使用 padding。 */
    margin-bottom: 72px;
    position: relative;
}
.skill::after {
	content: "";
	position: absolute;
	background-color: #96A9C4;
	z-index: -1;
	height: 360px;
	width: 100%;
    top: 69px;
    /* .skill::after 可以設定 width: 100%，並拿掉 left 設定，讓寬度自適應父元素，才不會出現 x 軸 */
}
.skill .title_white {
    text-align:center;
    padding-top: 24px;
}

.skill .title_white hr {
    width: 90%;
    margin-block-end: 40px;
}

.skill ul {
    border-left: 1px solid white;
    width: 216px;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 24px;
}
.skill li {
    margin-bottom: 16px;
    font-size: 24px;
}

.skill .none {
    margin-bottom: 0px;
}

.skill_inner {
    background-color: #415165;
    color: white;
    width: 62.5%;
    height: 494px;
    margin: 0 auto;
}
.work_ex ul {
    border-left: 1px solid #96A9C4;;
    margin-bottom: 72px;
    padding-left: 24px;
}
.work_ex li {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}


.work_ex p {
    margin: 0px;
}

footer {
    background-color: #415165;
    color: white;
}

.footer_inner {
    margin: 0 auto;
    text-align:center

}

.footer_inner h2 {
    margin-top: 24px;
}

.footer_inner img {
    margin-bottom: 48px;
    margin-top: 16px;
    padding: 12px;
}